:root {

    /* Fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* Colors */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #fff;
    --logo-color: #000000;
    --hero-bg-color: #2F303A;
    --btn-color: #F5F4FA;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
}

/* * {
    outline: 2px solid tomato;
} */

/* Base styles */

body {
    font-family: var(--main-font);
    background-color: var(--primary-bg-color);
    color: var(--title-text-color);
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}

.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.link {
    text-decoration: none;
}


/* Header section */

.header-container {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--primary-bg-color);
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-family: var(--secondary-font);
    color: var(--logo-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
}

.logo-txt {
    color: var(--accent-color);
}

.header-list {
    display: flex;
    margin-right: 331px;
}

.header.list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-link {
    display: block;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

.header .link.current {
    color: var(--accent-color);
}

.contact-list {
    display: flex;
}

.contact-link {
    color: var(--primary-text-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 50px;

}

.contact-link:last-child {
    margin-right: 0;
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

/* Hero section */

.hero {
    background-color: var(--primary-bg-color);
}

.hero .container {
    background-color: var(--hero-bg-color);
    padding-bottom: 200px;
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 30px;
    color: var(--primary-bg-color);
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    outline: 2px solid tomato;
    padding-top: 200px;
}


/* Features */

.features-list {
    display: flex;
    margin-top: 94px;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-item:last-child {
    margin-left: auto;
}

.section-title {
    margin-top: 0px;
    margin-bottom: 50px;
    color: transparent;
    text-align: center;
}

.features-subtitle {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-txt {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 94px;

}

.example-list {
    display: flex;
}

.example-img {
    margin-right: 30px;
    margin-bottom: 94px;
}

/* Team */
.team {
    background-color: var(--primary-bg-color);
}

.team .container {
    background-color: var(--btn-color);
}

.example-title,
.team .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 94px;
}

.team-list {
    display: flex;
}

.team-item {
    margin-right: 30px;
    background-color: var(--primary-bg-color);
}

.team-img {
    margin-bottom: 30px;
}

.team-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}


/* Button */

.button {
    display: inline-block;
    background-color: var(--btn-color);
    color: var(--title-text-color);
    cursor: pointer;
    border-radius: 4px;
    min-width: 145px;
    text-align: center;
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
}

.button.secondary {
    background-color: var(--btn-color);
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;

}

.button.list {
    background-color: var(--primary-bg-color);
}

.button.secondary:hover,
.button.secondary:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color)
}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--btn-color);
    color: var(--title-text-color)
}

/* Filters */

.filters {
    background-color: var(--primary-bg-color);
}

.filters .title {
    color: var(--title-text-color);
}

/* Projects */

.projects.list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .description {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


/* Footer */
.footer .container {
    background-color: var(--hero-bg-color);
}

.footer {
    background-color: var(--primary-bg-color);
}

.footer .logo {
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 20px;
}

.address .link {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-bottom: 9px;
}

.address .link:focus,
.address .link:hover {
    color: var(--accent-color);
}

.footer .contact-list {
    display: flex;
    flex-direction: column;
    color: var(--footer-contact-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}